
.editor {
    background-color: var(--clr3);
    display: none;
}

.canvas-container {
    width: 50vw;
    height: 600px;
}

canvas {
    background-color: aliceblue;
}

.change-meme {
    width: 50vw;
}

.text {
    width: 370px;
}

input {
    height: 60px;
    border-radius: 10px;
    width: 60px;
}

.input-controller {
    margin-top: 10px;
    width: 210px;
}

button {
    display: flex;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid var(--clr2);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px
}

.change-meme div{
    width: 370px;
    margin-bottom: 10px;
}