
.gallery {
    min-height: 80vh;
    background-color: var(--clr3);
    color: var(--clr2)
}

.popularKeyword{
    margin-left: 20px;
    width: 80vw;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.container-imgs {
    grid-template-columns: 1fr 1fr;
    gap: 10;
}

.keyword {
    height: 160px;
    background-color: var(--clr1);
}
.gallery input {
    width: 20vw;
    border:none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.gallery input:focus {
    outline: 0 none;
}

@media (min-width: 600px) {
    .container-imgs {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10;
    }
    img {
        width: 190px;
    }
}

@media (min-width: 900px) {
    .container-imgs {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10;
    }
    img {
        width: 290px;
    }
}

@media (min-width: 1200px) {
    .container-imgs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10;
    }
    img {
        width: 290px;
    }
}