
.gallery {
    min-height: 80vh;
    background-color: var(--clr3);
    color: var(--clr2)
}

.popularKeyword{
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.popularKeyword span{
    cursor: pointer;
}

.container-imgs {
    column-count: 2;
    column-gap: 10px;
    padding: 10px;
}

.keyword {
    width: 100%;
    background-color: var(--clr1);
}
.gallery input {
    border:none;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 50%;
    margin-bottom: 10px;
}

.gallery input:focus {
    outline: 0 none;
}


@media (min-width: 610px) {
    .container-imgs {
        column-count: 3;
    }
    .popularKeyword{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 900px) {
    .container-imgs {
        column-count: 3;
    }
    .gallery input {
        width: 20vw;
        margin-bottom: 0;
    }
    .keyword {
        flex-direction: row;
    }
    .popularKeyword{
        margin-left: 20px;
        width: 80%;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .container-imgs {
        column-count: 4;
    }
    .popularKeyword{
        grid-template-columns: repeat(5, 1fr);
    }
}